
$red: #E60000;
$lightred1: #FF0000;
$lightred2:#FF0001;
$lightgrey:#E5E5E5;
$greyfilter:#979797;
$numbergrey:#9B9EAC;
$backgroundgrey:#FBFBFB;
$fontgrey:#74798C;
$black:#000;

// _variables.scss

// Colors

$secondary-color: #000000; // Black color for text and icons
$background-color: #ffffff; // White background
$card-background-color: #f4f4f4; // Light grey background for cards
$sidebar-background-color: #000000; // Black sidebar background
$sidebar-icon-color: #ffffff; // White color for sidebar icons
$font-color: #000000; // Black color for general text

// Fonts
$font-family: 'Roboto',sans-serif ;

// Spacing
$spacing-unit: 1rem; // Base spacing unit
