
$red: #E60000;
$lightred: #FF0000;
$lightgrey:#C4C4C480;
$black:#000;

// _variables.scss

// Colors

$secondary-color: #000000; // Black color for text and icons
$background-color: #ffffff; // White background
$card-background-color: #f4f4f4; // Light grey background for cards
$sidebar-background-color: #000000; // Black sidebar background
$sidebar-icon-color: #ffffff; // White color for sidebar icons
$font-color: #000000; // Black color for general text

// Fonts
$font-family: 'Arial', sans-serif;

// Spacing
$spacing-unit: 1rem; // Base spacing unit
