@import "mixins.scss";
@import 'variables.scss';


.averagesessions {
   
    background-color: #ff0000;

    border-radius: 10px;
    color: white;
    text-align: center;
    width:32%;
    height: 100%;
    position: relative;
  }

  .responsivecontainer{
    position: relative;
    top: -20px;
    padding:0;
    width: 100%;
    height:100%;
    box-sizing: border-box;

    
  }
  

  .custom-tooltip {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  h2 {
    margin: 0;
    padding: 10px 0;
  }
  
  .durée{
    width: 10rem;
    opacity: .7;
    text-wrap: wrap;
    text-align: left;
    background-color: transparent;
    z-index: 2;
    position: relative;
    left: 30px;
    top: 40px;
  }


