@import "mixins.scss";
@import "variables.scss";

Body {
  //  border: red dotted 2px;
  display: flex;
  flex-direction: column;
  height:100%;
}

.main {
  //  border: aqua solid 2px;
  display: flex;
  width: 100%;
 
}

.mainerror{
  height: 100vh;

}

.dashboardcontent {
  // border: orange dotted 10px;
  width: 100%;
  display: flex;

}
  .left{
    // border: grey solid 3px;
    width: 75%;
    padding-left: 5rem;
  }

.h1 {
    // border: red solid 1px;
    padding-top: 4rem;
    text-align: left;
    
    @include h1-font;
  }


  .congrats {
    // border: blue solid 1px;
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  .firstname {
    color: $red;
  }



  .right{
    // border:pink solid 3px;
    width: 25%;
    padding-top: 12rem;
    padding-left: 2rem;
    padding-right: 2rem;


  }

  .sessionsperfo{
    // border:orange dashed 3px;
    display: flex;
    justify-content: space-evenly;
   gap:3%;
    height:30%;
    width:100%;
    margin-top: 3rem;
  }

  .blank{
    // border:red dashed 2px;
    padding-top:7rem;
    @include links-font;
color: $fontgrey;
font-size: 40px;
   
    
  }

  .error{

    margin-top: 5rem;
    padding: 2rem;
  }

  .centralerror{
@include h1-font;
font-size: 40px;
color: $fontgrey;
font-style: oblique;
line-height: normal;

    
  }


  .emoji{

    font-size: 48px;;
  }